h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
  }

.hero-detail-menu{
    text-align: center;
}

button{
    align-items: center;
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 5px;
    margin-left: 48%;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}
/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    margin-right: .5rem;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }